{% extends 'base.html' %}
{% block content %}
  <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">هدف از این سایت</h1>
        <br>
        <p class="lead fw-normal text-white-50 mb-0">تمرین برای یادگیری</p>
      </div>
    </div>
  </header>
<br>
  <div class="container">
    <div class="row">
      <center>
        <div style="margin-top: 10px;" class="col-5">
          <p style="font-size: 20px;" align="justify">
            این فروشگاه فقط با هدف تمرین و یادگیری و کسب مهارت های جدید در زمینه توسعه وبسایت ساخته شده و به همین خاطر تمامی عکسا و آبجکت های موجود در فروشگاه کاملا بداهه و رندوم انتخاب شده و در سایت قرار داده شده است یعنی صرفا فقط حکم ازمون و خطا رو داره همین !
          </p>
        </div>
      </center>
    </div>
  </div>
  <br>
{% endblock %}
